.category-page .category-title {
  text-align: center;
  font-size: 25px;
  color: #446084;
  text-transform: uppercase;
  margin-top: 50px;
}

.category-page > p {
  text-align: center;
  font-size: 20px;
}

.category-page .main-content {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.category-page .main-content .left {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.category-page .main-content .left .post img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.category-page .main-content .left .post {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  text-align: center;
}

.category-page .main-content .left .post .post-category {
  color: #dd3333;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
}

.category-page .main-content .left .post .post-title {
  margin: 0;
}

.category-page .main-content .left .post .post-title a {
  color: #446084;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bolder;
}

.category-page .main-content .left .post .post-date {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 15px 0;
}

.category-page .main-content .left .post .post-date span {
  color: #dd3333;
}

.category-page .main-content .left .post > p {
  font-size: 20px;
  text-align: left;
}

.category-page .main-content .left .post .img {
  width: 100%;
  display: flex;
}

.category-page .main-content .left .post .post-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-page .main-content .left .post .post-button a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 20px;
  font-size: 15px;
  font-weight: bold;
  color: #446084;
  border-radius: 8px;
  border: 2px #446084 solid;
  text-transform: uppercase;
}

.category-page .main-content .left .post .post-bottom {
  padding: 10px;
  border-top: 2px solid #ececec;
  border-bottom: 2px solid #ececec;
  text-transform: uppercase;
  font-size: 12px;
  display: flex;
  width: 100%;
  gap: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.category-page .main-content .left .post .post-bottom a {
  color: #dd3333;
}

.category-page .main-content .right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: flex-start;
  border-left: 1px #ececec solid;
  padding-left: 20px;
}

.category-page .main-content .right .list {
  display: flex;
  flex-direction: column;
}

.category-page .main-content .right .list h2 {
  font-size: 20px;
  font-weight: bold;
  position: relative;
}

.category-page .main-content .right .list h2::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 30%;
  height: 3px;
  background: #446084;
}

.category-page .main-content .right .list ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.category-page .main-content .right .list ul li {
  display: flex;
  gap: 20px;
  font-size: 13px;
  border-top: 1px #ececec solid;
  padding: 10px 0;
}

.category-page .main-content .right .list ul li .date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px #446084 solid;
  color: #446084;
  font-size: 15px;
  font-weight: bold;
  height: 60px;
  width: 120px;
}

.category-page .main-content .right .list ul li .date span:first-child {
  font-size: 20px;
}

.category-page .main-content .right .list ul li h3 {
  margin: 0;
}
.category-page .main-content .right .list ul li h3 a {
  color: #dd3333;
}

@media only screen and (max-width: 1025px) {
  .category-page .main-content {
    flex-direction: column;
  }

  .category-page .main-content .left .post img {
    height: 200px;
  }

  .category-page .main-content .left .post .post-title a {
    font-size: 20px;
    line-height: 1;
  }

  .category-page .main-content .left .post > p {
    font-size: 17px;
    text-align: left;
  }

  .category-page .main-content .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: flex-start;
    border-left: none;
    padding-left: 0;
  }
}
