html {
  font-family: "Open Sans", sans-serif;
}
body,
html {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

a {
  color: initial;
  text-decoration: none;
}

.container {
  padding-left: 150px;
  padding-right: 150px;
}

.paginate {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 15px;
}

.paginate a,
.paginate span {
  display: flex !important;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  font-size: 15px;
  line-height: 1;
  border-radius: 5px;
  border: 2px #446084 solid;
  color: #446084;
  font-weight: bold;
  width: auto;
  padding: 10px;
}

.paginate span {
  background: #446084;
  color: white;
}

.wpcf7-form {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
}

.wpcf7-form input,
.wpcf7-form textarea {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.wpcf7-form textarea{
  height: auto;
}

.wpcf7-submit{
  background: #446084 !important;
  color: white !important;
  cursor: pointer !important;
  height: 50px !important;
}

@media only screen and (max-width: 1025px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.block-text{
  background: black;
  color: white;
}